body {
    font-family: 'Comfortaa', cursive;
    font-family: 'Passion One', cursive;
    background-color: #000000;
}

/*

NAV TOPBAR  |||||||||||||||||||||||||||||||||||||||||||||||||||||||||

*/

#navBar {
    display: flex;
    flex-direction: row;
    margin: 0px 5%;
    font-size: 48px;
}
#navigation {
    background-color: #232222;
    color: #CBA1C5;
    display: flex;
    width: 1152px;
    height: 120px;
    align-items: center;
    justify-content: space-evenly;
}
#navigation p {
    cursor: pointer;
    text-decoration: none;
}
.highlight {
    color: #75C5DE;
    font-weight: 400;
}

/*

ABOUT ME    |||||||||||||||||||||||||||||||||||||||||||||||||||||||||

*/

#aboutMe {
    margin: 0px 12.5%;
    margin-top: 33px;
    display: grid;
    width: 1008px;
    height: 704px;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}
#aboutMeSquare {

    background-color: #2D2C44;
    grid-column: span 7/8;
    grid-row: span 9/10;
}
#leonMajestic {
    background-image: url("/images/leonMajesticImage.png");
    background-color: #75C5DE;
    grid-column: span 3/10;
    grid-row: span 4/8;    
}
#backgroundMe {
    background-color: #000000;
    grid-column: 8/10;
    grid-row: 1/10;  
 }
.aboutMeArea {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: flex-start;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    background-color: #000000;
} 
#aboutMeSquare h1 {
    color: #75C5DE;
}
#aboutMeSquare h2 {
    color: #CBA1C5;
}
#aboutMeSquare p {
    color: #CBA1C5;
    font-family: 'Comfortaa', cursive;
}

/*

MY SKILLS   |||||||||||||||||||||||||||||||||||||||||||||||||||||||||

*/

#mySkills {
    margin: 0px 12.5%;
    display: grid;
    width: 1008px;
    height: 704px;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}
#mySkillsSquare {
    background-color: #2D2C44;
    grid-column: span 9/10;
    grid-row: span 9/10;
}
#leonSnow {
    background-image: url("/images/leonSnow.png");
    background-color: #75C5DE;
    grid-column: span 3/4;
    grid-row: span 4/8;
}
#backgroundMySkills {
    background-color: #000000;
    grid-column: 1/3;
    grid-row: 1/10;  
 }
.mySkillsArea {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: flex-start;
    justify-content: right;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: #000000;
} 
#mySkillsSquare h3 {
    color: #75C5DE;
}
#mySkillsSquare h4 {
    color: #CBA1C5;
}
#mySkillsSquare p {
    color: #CBA1C5;
    font-family: 'Comfortaa', cursive;
}

/*

My Works    |||||||||||||||||||||||||||||||||||||||||||||||||||||||||

*/
#myWorkBannerArea {
    margin: 0px 12.5% 0px 12.5%;
    display: grid;
    height: 223px;
    grid-template-rows: 1fr;
    grid-template-columns:443px 55%;
}
#myWorkBanner {
    background-color: #2D2C44;
}
#myWorkBackground {
    background-color: black;
}
/* Civic Helper Section */

#chSection {
    margin: 40px 12.5% 0px 12.5%;
    display: grid;
    height: 704px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 55%;
}
#chDescription h5 {
    color: #FFFFFF;
    font-size: 36px;
}

#chDescription p {
    color: #FFFFFF;
    font-size: 18px;
}
#chImages {
    background-color: #75C5DE;
}

/* FTC Redesign Section */

#ftcSection {
    margin: 40px 12.5% 0px 12.5%;
    display: grid;
    height: 704px;
    grid-template-rows: 1fr;
    grid-template-columns: 55% 1fr;
}
#ftcImages {
    background-color: #75C5DE;
}
#ftcDescription h6 {
    color: #FFFFFF;
    font-size: 36px;
}
#ftcDescription p {
    color: #FFFFFF;
    font-size: 18px;    
}

/*Border Route Trail Section*/

#brtSection {
    margin: 40px 12.5% 40px 12.5%;
    display: grid;
    height: 704px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}
#brtDescription h7 {
    color: #FFFFFF;
    font-size: 36px;
}

#brtDescription p {
    color: #FFFFFF;
    font-size: 18px;
}
#brtImages {
    background-color: #75C5DE;
}


/*

Footer  |||||||||||||||||||||||||||||||||||||||||||||||||||||||||

*/

#footerBar{
    display: flex;
    flex-direction: row;
    margin: 0px 5% 0px 5%;
    font-size: 48px;
}
#contactInformation {
    background-color: #2D2C44;
    color: #CBA1C5;
    display: flex;
    width: 1152px;
    height: 120px;
    align-items: center;
    justify-content: flex-start;
}
#contactInformation p {
    cursor: pointer;
    text-decoration: none;
}
.contactLabel {
    color: #75C5DE;
    font-weight: 400;
}